code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.theme--dark body p > code {
  background-color: rgba(65, 63, 63, 0.4); /* Semi-transparent dark background */
  color: #fff;                          /* White text color for contrast */
  padding: 0.3em 0.6em;                 /* Padding to add space around the text */
  border-radius: 5px;                   /* Rounded corners */
  font-family: monospace;               /* Monospace font for code */
  font-size: 0.9em;                     /* Adjust font size if necessary */
}

.theme--light body p > code {
  background-color: rgba(227, 226, 226, 0.5); /* Semi-transparent dark background */
  color: #464646;                          /* White text color for contrast */
  padding: 0.2em 0.4em;                 /* Padding to add space around the text */
  border-radius: 5px;                   /* Rounded corners */
  font-family: monospace;               /* Monospace font for code */
  font-size: 0.9em;                     /* Adjust font size if necessary */
}

h1 {
  text-align: center; /* Center-align the text */
  margin: 0 auto; /* Center-align the element itself */
  max-width: 80ch; /* Control the maximum width for better readability */
  padding: 1rem 1rem 5rem 1rem; /* Add more bottom padding (2rem) */
}

.post:has(.post__content) {
  display: grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr; /* Center column with a max width */
  gap: 1rem; /* Optional: gap between columns */
}

.post:has(.post__content) > * {
  grid-column: 2; /* Center content in the middle column */
}

.theme--dark .post__content .chroma {
  background-color: #25262c;
  border-bottom: none;
}

.theme--dark .code-header {
  background-color: #292f36;
}

.theme--dark .chroma .n {
  color: #dabaff;
}

.theme--dark .chroma .s {
  color: #d56f63;
}

.theme--dark .bp {
  color: #af7fe7;
}

.theme--dark .kd {
  color: #ff7ab2;
}

.theme--dark .nc {
  color: #4eb0cc;
}

.theme--dark .nf {
  color: #4eb0cc;
}

.theme--dark .c1 {
  color: #878787;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(
    --chr-def-bg-color
  ); /* Dark background for the header */
  color: #6d6b6b; /* Light text color for contrast */
  padding: 7px 15px 8px 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 8px 0 0; /* Rounded top corners */
  margin: 0;
  margin-bottom: -1px; /* Remove space between header and code block */
}
.code-header .copy-code-button {
  background-color: #555; /* Dark gray background */
  border: none;
  border-radius: 4px; /* Rounded corners */
  color: #ddd; /* Light gray text color */
  cursor: pointer;
  font-size: 12px;
  padding: 4px 9px; /* Padding around the icon */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}
.code-header .copy-code-button:hover {
  background-color: #666; /* Slightly lighter on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Slightly larger shadow on hover */
}
.code-header .copy-code-button i {
  margin: 0;
}

.code-header .header-text {
  font-size: 0.8em; /* Smaller font size for left side text */
}

pre {
  padding: 10px;
  margin: 0; /* Remove default margin */
  background-color: #222; /* Dark background for the code block */
  color: #ccc; /* Light text color for code */
  border-radius: 0 0 8px 8px; /* Rounded bottom corners to match header */
}


.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure date is aligned to the right */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make the image rounded */
  margin-right: 1rem;
}

.post-info .author {
  margin-right: auto; /* Push date to the end */
  font-weight: bold;
}

.post-info .date {
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500; /* Make the date bold */
}

.post-info .spacer {
  flex-grow: 1; /* Take up remaining space to push date to the far right */
}

.post-divider {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  margin: 1.5rem 0rem 5rem 0rem; /* Adjust spacing as needed */
}